.mainbody-section {
  border: 1px solid yellow;
}

.deco {
  background: -webkit-linear-gradient(left top, #0258a8, #17abd4);
  background: -o-linear-gradient(bottom right, #0258a8, #17abd4);
  background: -moz-linear-gradient(bottom right, #0258a8, #17abd4);
  background: linear-gradient(to bottom right, #0258a8, #17abd4);
}

body {
  background-color: #000;
}

body, h1, h2, h3, h4, h5, h6, p, ul li, #tabitem h6 {
  color: #fff;
}

#mainmenu i.ic_topbar_More, #mainmenu i.ic_settings_multizone, .enlarge, .shrink, i.ic_topbar_user_default, #mainmenu i.ic_topbar_triangle_normal, #mainmenu i.ic_topbar_help, #mainmenu i.ic_topbar_refresh, #mainmenu i.ic_topbar_Search_normal, #mainmenu span {
  color: #434343;
}

#tv_controller {
  background: #001732;
}

.c_info {
  color: #00ffff;
}

.controller {
  background: #001732;
}

.controlbar_leave i {
  color: #fff;
  border: 1px solid #fff;
}

.controlbar_leave h4, .controller a.controlbar_leave, .controller a.controlbar, .controller_actived, .controller_actived h4 {
  color: #c3006d;
  color: #fff;
}

.controlbar div:hover, .controlbar_leave div:hover {
  background: #04264f;
}

.navbar, .dropdown-menu, #btn_dropmenu {
  background: #fff;
}

.dropdown-menu > li > a:hover {
  background: #defefd;
}

.maskbg, .maskbg_second {
  background: rgba(0, 0, 0, 0.4);
}

.popup, .popup_second {
  background: rgba(250, 250, 250, 0.9);
}

.popup h4, .popup_second h4 {
  color: #000;
}

.popup ul, .popup li, .popup p, .popup label, .popup_second li, .popup h5, .popup .rename, .popup .confirm_text, .popup button, .popup_second button, .popup button:active, .folder_tool li:active, .tutorial, .tutorial p, .btn_start, .c_totoal {
  color: #2f2f2f;
}

.popup .img_bg img {
  border: 2px solid rgba(250, 250, 250, 0);
}

.img_bg img:hover {
  border: 2px solid #00ffff;
}

.popup hr {
  background: #b0b0b0;
}

.popup button, .popup_second button, .btn_start {
  background: #fff;
  border: 1px solid #707070;
}

.popup button:hover, .folder_tool li:hover {
  border: 1px solid #707070;
  color: #707070;
}

.popup button:active, .folder_tool li:active {
  border: 2px solid #707070;
}

.popup button:disabled {
  border: 1px solid #aeaeae;
  color: #aeaeae;
}

.popup .ic_prelisten:hover, .prelisten_enable {
  color: #00c9ff;
}

.popup_right .ic_toolbar_multiselect_off, .popup_pager {
  color: #4d4d4d;
}

.tab_hr {
  background: #b0b0b0;
}

.header_actived {
  border-bottom: 2px solid #2f2f2f;
}

h4 .btn_mainpage_backstratum:hover {
  color: #7e7e7e;
  background: rgba(0, 0, 0, 0.1);
  border-color: #7e7e7e;
}

.delete:hover, .btn_preview_close:hover {
  color: #bababa;
}

.delete:active, .btn_preview_close {
  color: #6d6d6d;
}

h4 .btn_mainpage_backstratum:active {
  color: #6d6d6d;
  border-color: #6d6d6d;
}

.btn_close_help i {
  background: #939393;
  color: #fff;
}

.btn_close_help i:hover {
  background: #bababa;
  color: #fff;
}

.btn_close_help i:active {
  background: #6d6d6d;
  color: #fff;
}

.help_c {
  background: #f1f1f1;
}

.t_content a, .about_footer a, .container_help a {
  color: #0071ba;
}

.btn_start:hover {
  color: #707070;
}

.t_content a:hover, .about_footer a:hover, .container_help a:hover {
  color: #015def;
}

.t_content a:active, .about_footer a:active, .container_help a:active {
  color: #7eaefe;
}

.t_content a:visited, .about_footer a:visited, .container_help a:visited {
  color: #753f94;
}

.about {
  color: #646464;
  background: #fafafa;
}

.qts_msg {
  background: rgba(50, 50, 55, 0.95);
  border: 1px solid #fff;
}

.sp_l {
  background: #2f2f2f;
}

.ic_menu_home {
  background: #26d2a7;
  color: #fff;
}

#search_ls {
  background: #e8e8e8;
}

.search h4 {
  color: #2e2e2e;
}

.search tbody td {
  background: rgba(189, 189, 189, 0.5);
  color: #2f2f2f;
}

#s_result td:hover, #a_result td:hover, #as_result td:hover {
  background: rgba(45, 161, 196, 0.15);
}

.search_focus {
  background: #1e3c48;
}

.menu-item a {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item li a:hover {
  background: rgba(0, 0, 0, 0.5);
}

#listnav .ic_toolbar_multiselect_off {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.btn_selectall:hover {
  background: #313131;
}

.sprateline {
  background: rgba(255, 255, 255, 0.2);
}

#alert1 {
  background: black;
}

#alert1 .ic_message_control, #alert1 .ic_message_songaction {
  color: #00afff;
}

.btn_home, #sidebar {
  background: #000;
}

.btn_home p, .sidebar_item p {
  color: white;
}

#sidebar a, .btn_home a {
  color: white;
}

a:hover .sidebar_item, .btn_home:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

a:hover .sidebar_item p, .btn_home:hover p, .btn_home:hover i {
  color: white;
}

.item_focus {
  background: #0d4b91;
  color: white;
}

.item_focus p {
  color: white;
}

p .item_focus {
  color: white;
}

#tabitem {
  background: -webkit-linear-gradient(-74deg, rgba(45, 66, 105, 0), rgba(20, 46, 81, 0.4), #29567a);
  background: -o-linear-gradient(164deg, rgba(45, 66, 105, 0), rgba(20, 46, 81, 0.4), #29567a);
  background: -moz-linear-gradient(164deg, rgba(45, 66, 105, 0), rgba(20, 46, 81, 0.4), #29567a);
  background: linear-gradient(164deg, rgba(45, 66, 105, 0), rgba(20, 46, 81, 0.4), #29567a);
}

#tabitem li:active {
  background: rgba(0, 0, 0, 0.8);
}

.item_hover, .add_myfav:hover {
  background: rgba(0, 0, 0, 0.5);
}

.item_actived {
  color: #05eded;
}

#songbook .text-col {
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.2), transparent);
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

th i {
  color: #8f8f8f;
}
