body {
  font-size: 16px;
}

@media (min-width: 34em) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 48em) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 62em) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 75em) {
  h1 {
    font-size: 3rem;
  }
}
